//  Colors
//  Getting lighter from top -> bottom

//  Gray
$darkGray: #1E1D23;
$darkGrayAccent: #2A2931;
$darkGrayAccentLight: #36353f;
$darkGrayHover: #403f47;
$davysGray: #4D5057;
$deepSilver: #8B9094;
$lightGray: #CFCFCF;

//  Green
$hookersGreen: #4E6E5D;
$forestGreen: #4DA167;
$darkPastelGreen: #3BC14A;

//  Font
$fontDefault: #E8EAED;

//  Error
$errorBackground: #462328;
$errorText: #C84448;

//  Success
$successBackground: #2a3b2a;
$successText: #5ABF52;

//  Button
$buttonPrimaryHover: #4DA152;
