// All kinds of dimensions: margins, paddings, etc.

// Margins & Paddings
$tinySpacing: 8px;
$smallSpacing: 10px;
$normalSpacing: 20px;
$mediumSpacing: 30px;
$largeSpacing: 40px;
$bigSpacing: 50px;
$hugeSpacing: 60px;

//  Borders
$normalRadius: 5px;
$largeRadius: 15px;

//  Containers
$authenthicationWidth: 500px;

//  Loader
$loaderHeight: 2px;

//  Navbar
$navbarHeight: 64px;

//  Icons
$iconSmall: 24px;
$iconMedium: 28px;
