@use '../base/variables/dimensions';
@use '../base/variables/display';

.avatar {
  display: grid;
  place-items: center;
  border-radius: 50%;
  width: dimensions.$largeSpacing;
  height: dimensions.$largeSpacing;
  user-select: none;

  &--clickable {
    cursor: pointer;
  }
}

@media only screen and (min-width: display.$desktop) {
  .avatar {
    &--large {
      width: dimensions.$bigSpacing;
      height: dimensions.$bigSpacing;
    }
  } 
}