@use '../base/variables/colors';
@use '../base/variables/dimensions';
@use '../base//variables/borders';

.button {
  display: flex;
  align-items: center;
  gap: dimensions.$smallSpacing;
  padding: .75rem 1rem;
  border-radius: dimensions.$normalRadius;
  background-color: transparent;
  border: borders.$default;
  color: colors.$fontDefault;
  transition: .2s background-color;

  &:hover {
    cursor: pointer;
    background-color: colors.$darkGrayHover;
  }

  &--normal {
    width: 150px;
  }

  &--primary {
    background-color: colors.$forestGreen;
    border: 0;

    &:hover {
      background-color: colors.$buttonPrimaryHover;
    }
  }

  &--simple {
    border: 0;
    
    &:hover {
      background-color: transparent;
      color: rgba(colors.$fontDefault, .8);
    }
  }

  &--simple-green {
    border: 0;

    &:hover {
      background-color: transparent;
      color: colors.$forestGreen;
    }
  }

  &--link {
    border: 0;
    padding: 0;
    color: colors.$forestGreen;

    &:hover {
      text-decoration: underline;
      background-color: transparent;
    }
  }

  &--no-padding {
    padding: 0;
  }

  &--center {
    margin: 0 auto;
  }

  &--right{
    margin: auto 0 auto auto;
  }

  &--text-center {
    justify-content: center;
  }
}