@use '../base/variables/colors';
@use '../base/variables/dimensions';
@use '../base/variables/shadows';

.card {
  padding: dimensions.$largeSpacing;
  background-color: colors.$darkGray;
  box-shadow: shadows.$smoothShadow;
  border-radius: dimensions.$largeRadius;
}