@use '../base/variables/borders';
@use '../base/variables/colors';
@use '../base/variables/dimensions';
@use '../base/variables/display';
@use '../base/variables/shadows';

.card {
  padding: dimensions.$largeSpacing;
  background-color: colors.$darkGrayAccent;
  box-shadow: shadows.$smoothShadow;
  border-radius: dimensions.$largeRadius;
  transition: box-shadow .3s ease;
  overflow: hidden;
  word-break: break-word;

  &--no-padding {
    padding: 0;
  }

  &--small-padding {
    padding: dimensions.$normalSpacing;
  }

  &__header {
    padding-bottom: dimensions.$mediumSpacing;
    border-bottom: borders.$darkishGrayThick;
  }

  &__item {
    padding: dimensions.$normalSpacing 0;
    display: flex;
    gap: dimensions.$normalSpacing;
    border-bottom: borders.$darkishGray;

    &:last-child {
      border: none;
    }
  }

  &__icon {
    background-color: colors.$forestGreen;
  }

  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: dimensions.$smallSpacing;
  }

  &:hover {
    box-shadow: shadows.$strongerShadow;
  }
}