@use '../base/variables/colors';
@use '../base/variables/dimensions';
@use '../base/variables/shadows';

.card {
  padding: dimensions.$largeSpacing;
  background-color: colors.$darkGrayAccent;
  box-shadow: shadows.$smoothShadow;
  border-radius: dimensions.$largeRadius;
  transition: box-shadow .3s ease;

  &:hover {
    box-shadow: shadows.$strongerShadow;
  }
}