@use '../base/variables/colors';
@use '../base/variables/dimensions';
@use '../base/variables/typography';

.error, .success {
  width: 100%;
  padding: dimensions.$normalSpacing;
  border-radius: dimensions.$normalRadius;
  font-weight: typography.$boldWeight;

  &__item {
    &:last-child {
      margin-bottom: dimensions.$normalSpacing;
    }
  }

  &.no-margin {
    .success__item, .error__item {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.error {
  background-color: colors.$errorBackground;
  color: colors.$errorText;
}

.success {
  background-color: colors.$successBackground;
  color: colors.$successText;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}