@use '../base/variables/dimensions';
@use '../base/variables/display';

.form {
  display: flex;
  flex-direction: column;
  gap: dimensions.$smallSpacing;
}

@media only screen and (min-width: display.$desktop) {
  .form {
    gap: dimensions.$normalSpacing;
  }
}