@use '../base/variables/dimensions';
@use '../base/variables/display';

.icon {
  &--micro {
    width: dimensions.$iconMicro;
    height: dimensions.$iconMicro
  }

  &--tiny {
    width: dimensions.$iconTiny;
    height: dimensions.$iconTiny;
  }

  &--normal {
    width: dimensions.$normalSpacing;
    height: dimensions.$normalSpacing;
  }

  &--small, &--medium {
    width: dimensions.$iconSmall;
    height: dimensions.$iconSmall;
  }
}

@media only screen and (min-width: display.$desktop) {
  .icon {
    &--medium {
      width: dimensions.$iconMedium;
      height: dimensions.$iconMedium;
    }
  } 
}
