@use '../base/variables/colors';
@use '../base/variables/dimensions';

.loader {
  position: fixed;
  top: 0;
  height: dimensions.$loaderHeight;
  background-color: colors.$forestGreen;
  transition: width .5s ease;
}