@use '../base/variables/colors';
@use '../base/variables/dimensions';
@use '../base/variables/shadows';


.menu {
  position: absolute;
  top: calc(100% + dimensions.$normalSpacing);
  right:0;
  min-width: calc(dimensions.$hugeSpacing * 4);
  padding: dimensions.$normalSpacing;
  border-radius: dimensions.$normalRadius;
  box-shadow: shadows.$strongerShadow;
  background-color: colors.$darkGrayAccentLight;

  &__header {
    padding-bottom: dimensions.$normalSpacing;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: dimensions.$normalSpacing;

    &-item {
      display: flex;
      justify-content: center;
      gap: dimensions.$smallSpacing;

      .button {
        flex: 1;
        text-align: left;
      }
    }
  }
}