@use '../base/variables/colors';
@use '../base/variables/dimensions';
@use '../base/variables/display';
@use '../base/variables/shadows';
@use '../components/avatar';
@use '../components/link';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: colors.$darkGrayAccent;
  box-shadow: shadows.$bottomShadow;
  min-height: dimensions.$navbarHeight;
  padding: 0 dimensions.$smallSpacing;

  &__left, &__right {
    position: relative;
  }
}

@media only screen and (min-width: display.$phone) {
  .navbar {
    padding: 0 dimensions.$normalSpacing;
  }
}