@use '../base/variables/dimensions';
@use '../base/variables/colors';
@use '../base/variables/shadows';

.notification-bar {
  position: fixed;
  display:flex;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 dimensions.$normalSpacing;
  max-width: dimensions.$maxContent;
  min-height: dimensions.$navbarHeight;

  &__content {
    padding-right: dimensions.$largeSpacing;
    box-shadow: shadows.$smoothShadow;
  }

  &__close {
    position: absolute;
    top: 50%;
    right: dimensions.$mediumSpacing;
    transform: translateY(-50%);
  }
}