@use '../base/variables/dimensions';
@use '../base//variables/colors';

.notification-bar {
  position: fixed;
  display:flex;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - dimensions.$largeSpacing);
  min-height: dimensions.$navbarHeight;

  &__content {
    padding-right: dimensions.$largeSpacing;
  }

  &__close {
    position: absolute;
    top: 50%;
    right: calc(dimensions.$smallSpacing);
    transform: translateY(-50%);
  }
}