@use '../base/variables/borders';
@use '../base/variables/colors';
@use '../base/variables/dimensions';

.pages {
  display: flex;
  gap: dimensions.$normalSpacing;

  &--center {
    justify-content: center;
  }
  
  &__item {
    display: grid;
    place-items: center;

    &--previous, &--next {
      transform-origin: center;
    }

    &--next {
      transform: rotate(-180deg);
    }

    &--hidden {
      visibility: hidden;
    }
  }
}