@use '../base/variables/colors';
@use '../base/variables/dimensions';
@use '../base/variables/display';
@use '../base/variables/shadows';

.post {
  display: flex;
  flex-direction: column;

  &__author, &__content {
    display: flex;
    flex-direction: column;
    padding: dimensions.$normalSpacing;
  }

  &__author {
    align-items: center;
    background-color: colors.$darkGrayAccentLight;
    gap: dimensions.$smallSpacing;
  }

  &__content {
    flex: 1;
    gap: dimensions.$smallSpacing;

    &-main {
      flex: 1;

      a {
        color: colors.$forestGreen;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      h3 {
        font-size: 1.25rem;
      }

      h2 {
        font-size: 1.5rem;
      }

      h1 {
        font-size: 2rem;
      }

      blockquote {
        padding: 1rem;
        margin-bottom: 1rem;
        background-color: colors.$darkGrayAccentLight;
        box-shadow: shadows.$smallShadow;
        border-left: dimensions.$normalRadius solid colors.$forestGreen;
      }

      p, blockquote, ul {
        font-size: 1rem;
      }

      ol {
        list-style-type: decimal;
      }

      ul {
        list-style-type: disc;
        margin-left: dimensions.$smallSpacing;
      }

      ol, ul {
        p {
          display: inline-block;
        }
      }

      code {
        font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
      }

      reply-quote {
        display:block;
        padding: 1rem;
        background-color: colors.$davysGray;
        margin: -1rem -1rem 1rem -1rem;
        font-weight: bold;
      }
    }

    &-extra {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &-controls { 
      display: flex;
      gap: dimensions.$normalSpacing;
    }
  }
}

@media only screen and (min-width: display.$phone) {
  .post {
    flex-direction: row;

    &__author {
      width: calc(dimensions.$hugeSpacing * 2);
      word-break: break-all;
    }
  }
}