@use '../base/variables/colors';
@use '../base/variables/dimensions';
@use '../base/variables/shadows';
@use '../base/variables/zindex';

.tooltip {
  background-color: colors.$darkGrayAccent;
  box-shadow: shadows.$smoothShadow;
  padding: dimensions.$smallSpacing;
  display: flex;
  gap: dimensions.$smallSpacing;
  z-index: zindex.$popups;
  position: absolute;

  &--mb {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}