@use '../components/button';
@use '../components/card';
@use '../base/variables/dimensions';
@use '../base/variables/typography';

.authenthication {
  width: dimensions.$authenthicationWidth;
  max-width:100%;
  position: relative;

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  &__form {
    align-items: center;
    position: relative;
    z-index: 2;
  }

  &__validation {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(calc(-100% + dimensions.$normalSpacing));
    z-index: 1;
  }
}