@use '../base/variables/dimensions';

.thread-details {
  display: flex;
  flex-direction: column;
  gap: dimensions.$largeSpacing;

  &__list {
    display: flex;
    flex-direction: column;
    gap: dimensions.$normalSpacing;
  }
}