@use 'reset.scss';
@use 'base/variables/colors.scss';
@use 'base/variables/dimensions.scss';
@use 'base/variables/display';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html, body, * {
  font-family: 'Lato', Verdana, Tahoma, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

html, body {
  color: colors.$fontDefault;
}

html, body, #app {
  height: 100%;
}

body {
  background-color: colors.$darkGray;
  overflow-x: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.content-container {
  flex: 1;
  padding: dimensions.$normalSpacing;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  background-color: colors.$darkGrayAccent;
  border-radius: dimensions.$normalRadius;
  padding: dimensions.$mediumSpacing;
}

.main-content, .content-container {
  height: 100%;
}

@media only screen and (min-width: display.$desktop) {
  .content {
    padding: dimensions.$largeSpacing;
  }
}