@use 'reset.scss';
@use 'base/variables/colors.scss';
@use 'base/variables/dimensions.scss';
@use 'base/variables/display';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html, body, .ql-toolbar, .ql-container , * {
  font-family: 'Lato', Verdana, Tahoma, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

html, body {
  color: colors.$fontDefault;
  word-break: break-word;
}

body {
  background-color: colors.$darkGray;
  overflow-x: hidden;
}

body, #app, .main-content {
  min-height: 100vh;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

ol, ul {
  list-style-position: inside;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: dimensions.$normalSpacing;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  background-color: colors.$darkGrayAccent;
  border-radius: dimensions.$normalRadius;
  padding: dimensions.$mediumSpacing;
}

@media only screen and (min-width: display.$desktop) {
  .content {
    padding: dimensions.$largeSpacing;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

//scroll bar styling
::-webkit-scrollbar {
  width: dimensions.$normalRadius;
}

::-webkit-scrollbar-track {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  border-radius: 99vw;
  background: colors.$davysGray; 
}

::-webkit-scrollbar-thumb:hover {
  background: colors.$deepSilver; 
}